---
import Home from "../../../layouts/home.astro";
import BookCard from "../../../components/book.astro";
import { getBooks, type Book } from "../../../utils/notion";

export async function getStaticPaths() {
    const books = (await getBooks())!;
    const labels = [...new Set(books.map((it) => it.status))];
    const sizes = labels
        .map((label) => books.filter((it) => it.status == label))
        .map((it) => Math.ceil(it.length / 100));
    return labels
        .map((label, index) => {
            return [...Array(sizes[index]).keys()]
                .map((i) => i + 1)
                .map((page) => {
                    return {
                        params: {
                            status: label,
                            page: page,
                        },
                    };
                });
        })
        .reduce((a, b) => a.concat(b));
}

const { status, page } = Astro.params;
const books = (await getBooks())!.filter((it) => it.status == status);
const tabs: string[] = ["读过", "在读", "未读"];
const count: number = Math.ceil(books.length / 100);
---

<Home title={status}>
    <div class="w-screen flex flex-wrap justify-center px-6 pt-6">
        <div role="tablist" class="mb-10 mx-auto tabs tabs-boxed">
            {
                tabs.map((tab) => (
                    <a
                        role="tab"
                        class="tab"
                        href={`/books/${tab}/1`}
                        class:list={[{ "tab-active": status == tab }]}
                    >
                        {tab}
                    </a>
                ))
            }
        </div>
        <div
            class="mx-auto w-full grid grid-cols-2 gap-x-6 gap-y-12 sm:grid-cols-3 md:grid-cols-4"
        >
            {
                books
                    .slice(100 * page - 100, 100 * page)
                    .map((book) => (
                        <BookCard
                            title={book.title}
                            cover={book.cover}
                            author={book.author}
                            publisher={book.publisher}
                            link={book.link}
                        />
                    ))
            }
        </div>
        <div class="mt-10 join">
            {
                [...Array(count).keys()].map((num) => (
                    <a
                        href={`/books/读过/${num + 1}`}
                        class="join-item btn btn-square"
                        class:list={[{ "btn-active": num + 1 == page }]}
                    >
                        {num + 1}
                    </a>
                ))
            }
        </div>
    </div>
</Home>
