---
import HomeLayout from "../../layouts/home.astro";
import CategoryChip from "../../components/category-chip.astro";
import PlainCard from "../../components/plain-card.astro";
import type { GetStaticPaths } from "astro";
import { getPosts } from "../../utils/getPosts";

export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getPosts();
  return [
        ...new Set(
            posts
                .map((post) => post.category)
                .flat(),
        ),
    ].map((category) => ({
        params: {
            category: category
        },
    }));
}

const { category } = Astro.params;
const posts = await getPosts();
const categories = [
    ...new Set(posts.map((post) => post.category).flat()),
];
---

<HomeLayout title={category}>
    <section class="block md:hidden">
        <header class="flex flex-wrap">
        {
            categories.map((it) => (
                <CategoryChip
                    category={it}
                    selected={it == category}
                />
            ))
        }
        </header>
        <main class="grid grid-cols-1 pt-12 gap-y-6">
        {
            posts
                .filter((post) => post.category == category)
                .map((post) => (
                    <PlainCard
                        title={post.title}
                        category={post.category}
                        date={post.pubDate}
                        description={post.description}
                        link={post.link}
                    />
                ))
        }
        </main>
    </section>
    <section class="hidden md:grid grid-cols-4 gap-x-4">
        <aside class="col-span-1">
            <ul class="mt-8 menu bg-base-200 rounded-box">
                <li class="menu-title font-light">Categories</li>
                {
                    categories.map((it) => (
                            <li>
                                <a
                                        href={`/categories/${it}`}
                                        class="font-thin"
                                        class:list={[{ "menu-active": it == category }]}
                                >
                                    {it}
                                </a>
                            </li>
                    ))
                }
            </ul>
        </aside>
        <nav class="col-span-3">
            <main class="grid grid-cols-2">
            {
                posts
                    .filter((post) => post.category == category)
                    .map((post) => (
                        <PlainCard
                            title={post.title}
                            category={post.category}
                            date={post.pubDate}
                            description={post.description}
                            link={post.link}
                        />
                    ))
            }
            </main>
        </nav>
    </section>
</HomeLayout>
