---
import Home from "../layouts/home.astro";
import BookCard from "../components/book.astro";
import type { Book } from "../utils/notion";
import { getBooks } from "../utils/notion";

const books: Book[] | undefined = (await getBooks())?.sort((it) => it.title);
---

<Home title="Books">
    <div class="w-screen flex flex-wrap justify-center ps-6 pt-6">
        <div role="tablist" class="mb-10 mx-auto tabs tabs-boxed">
            <a id="Done" role="tab" class="tab tab-active">读过</a>
            <a id="In progress" role="tab" class="tab">在读</a>
            <a id="Not started" role="tab" class="tab">想读</a>
        </div>
        <div
            id="books"
            class="mx-auto w-full grid grid-cols-2 gap-x-6 gap-y-12 sm:grid-cols-3 md:grid-cols-4"
        >
            {
                books
                    ?.filter((book) => book.cover)
                    .map((book) => (
                        <div data-status={book.status}>
                            <BookCard
                                title={book.title}
                                cover={book.cover}
                                author={book.author}
                                publisher={book.publisher}
                                link={book.link}
                            />
                        </div>
                    ))
            }
        </div>
    </div>
</Home>

<script>
    import { currentBookTab } from "../utils/state";

    const tabs = document.getElementsByClassName("tab");
    const books = document.getElementById("books")?.children ?? [];

    window.onload = () => {
        currentBookTab.set(tabs[0].id)
    }

    for (const book of books) {
        currentBookTab.subscribe((value) => {
            if (book.getAttribute("data-status") == value) {
                book.classList.remove("hidden");
            } else {
                book.classList.add("hidden");
            }
        });
    }

    for (const tab of tabs) {
        tab.addEventListener("click", () => {
            currentBookTab.set(tab.id);
        });
        currentBookTab.subscribe((value) => {
            if (tab.id == value) {
                tab.classList.add("tab-active");
            } else {
                tab.classList.remove("tab-active");
            }
        });
    }
</script>
