---
import Home from "../layouts/home.astro";
import Post from "../components/post.astro";

const data = await Astro.glob("./posts/*.md");
const posts = data.map((post) => {
    return {
        title: post.frontmatter.title as string,
        date: new Date(post.frontmatter.pubDate),
        link: post.url as string,
        description: post.frontmatter.description as string,
        category: post.frontmatter.category as string,
    };
});
const categories = [
    ...new Set(data.map((post) => post.frontmatter.category).flat()),
];
---

<Home title="Categories">
    <div class="grid grid-cols-1 md:grid-cols-4">
        <div id="buttons" class="col-span-1">
            <div class="flex flex-wrap md:hidden">
                {
                    categories.map((category) => (
                        <a name={category} class="btn mx-3 my-1" data-category={category}>
                            {category}
                        </a>
                    ))
                }
            </div>
            <ul class="hidden md:block menu rounded-box">
                <li class="menu-title">Categories</li>
                {
                    categories.map((category) => (
                        <li>
                            <a name={category} data-category={category}>{category}</a>
                        </li>
                    ))
                }
            </ul>
        </div>
        <div class="col-span-3 pt-12 md:pt-0">
            <div
                id="posts"
                class="grid gap-y-6 grid-cols-2"
            >
                {
                    posts.map((post) => (
                        <div class="post" data-category={post.category}>
                            <Post
                                title={post.title}
                                category={post.category}
                                date={post.date}
                                description={post.description}
                                link={post.link}
                            />
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</Home>

<script>
    import { currentCategory } from "../utils/state";

    const buttons = document
        .getElementById("buttons")
        ?.getElementsByTagName("a");
    const posts = document
        .getElementById("posts")
        ?.getElementsByClassName("post");

    currentCategory.set(buttons?.item(0)?.getAttribute("data-category")!)

    for (const element of buttons ?? []) {
        element.addEventListener("click", () => {
            currentCategory.set(element.getAttribute("data-category") as string);
        });
    }

    currentCategory.subscribe((value) => {
        for (const element of buttons ?? []) {
            if (element.getAttribute("data-category") == value) {
                element.classList.add("active");
            } else {
                element.classList.remove("active");
            }
        }
    });

    for (const element of posts ?? []) {
        currentCategory.subscribe((value) => {
            if (element.getAttribute("data-category") == value) {
                element.classList.remove("hidden");
            } else {
                element.classList.add("hidden");
            }
        });
    }
</script>
