---
import Home from "../layouts/home.astro";
import Post from "../components/post.astro";

const data = await Astro.glob("./posts/*.md");
const tops = data.filter((post) => post.frontmatter.top);
const posts = data
    .sort(
        (a, b) =>
            new Date(b.frontmatter.pubDate).getTime() -
            new Date(a.frontmatter.pubDate).getTime(),
    )
    .slice(0, 10);
---

<Home title="Home">
    <div class="mx-auto">
        <section class="bg-cover bg-center h-96 flex items-center justify-center" style="">
            <div class="text-center mx-auto">
                <h1 class="text-5xl font-bold mb-4">Welcome to My Blog</h1>
                <p class="text-xl">博學之，審問之，慎思之，明辨之，篤行之。</p>
                <a href="/rss.xml" class="btn btn-primary mt-4">Subscribe</a>
            </div>
        </section>

        <div class="flex flex-col gap-6 ps-6 pt-6">
            <div class="prose flex-grow">
                <h1>Featured</h1>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-12">
                {
                    tops.map((post) => (
                        <Post
                            title={post.frontmatter.title}
                            category={post.frontmatter.category}
                            date={new Date(post.frontmatter.pubDate)}
                            description={post.frontmatter.description}
                            link={post.url as string}
                        />
                    ))
                }
            </div>
            <div class="prose flex-grow">
                <h1>Latest</h1>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-12">
                {
                    posts.map((post) => (
                        <Post
                            title={post.frontmatter.title}
                            category={post.frontmatter.category}
                            date={new Date(post.frontmatter.pubDate)}
                            description={post.frontmatter.description}
                            link={post.url as string}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</Home>
