---
import Home from "../layouts/home.astro";
import Post from "../components/post.astro";

const data = await Astro.glob("./posts/*.md");
const tops = data.filter((post) => post.frontmatter.top);
const posts = data
    .sort(
        (a, b) =>
            new Date(b.frontmatter.pubDate).getTime() -
            new Date(a.frontmatter.pubDate).getTime(),
    )
    .slice(0, 10);
---

<Home title="Home">
    <div class="mx-auto">
        <div class="hero mt-24 mb-16 mx-auto">
            <div class="hero-content mx-auto">
                <div class="max-w-lg mx-auto">
                    <h1 class="text-5xl font-bold">
                        博學之，審問之，慎思之，明辨之，篤行之。
                    </h1>
                    <div class="py-6 flex justify-around">
                        <a href="https://afdian.net/a/tungichou/plan">
                            <button class="w-28 btn btn-secondary"
                                >Sponsor</button
                            >
                        </a>
                        <a href="/rss.xml">
                            <button class="w-28 btn btn-primary"
                                >Subscrible</button
                            >
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-6 ps-6 pt-6">
            <div class="prose flex-grow">
                <h1>Featured</h1>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-12">
                {
                    tops.map((post) => (
                        <Post
                            title={post.frontmatter.title}
                            category={post.frontmatter.category}
                            date={new Date(post.frontmatter.pubDate)}
                            description={post.frontmatter.description}
                            link={post.url as string}
                        />
                    ))
                }
            </div>
            <div class="prose flex-grow">
                <h1>Latest</h1>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-12">
                {
                    posts.map((post) => (
                        <Post
                            title={post.frontmatter.title}
                            category={post.frontmatter.category}
                            date={new Date(post.frontmatter.pubDate)}
                            description={post.frontmatter.description}
                            link={post.url as string}
                        />
                    ))
                }
            </div>
        </div>
    </div>
</Home>
