---
const { title, link, description, date, category } = Astro.props;
---

<div
    class="card card-compact transition-all duration-200 hover:bg-base-200 hover:-translate-y-1"
>
    <div class="card-body">
        <a href={link}>
            <h2 class="card-title">{title}</h2>
            <p class="truncate text-pretty font-light">
                {description}
            </p>
        </a>
        <div class="flex flex-wrap justify-between w-full">
            <p class="text-sm font-thin">
                {date.toLocaleDateString("zh-CN")}
            </p>
            <a href={`/categories/${category}`} class="text-sm font-thin">
                {category}
            </a>
        </div>
    </div>
</div>
