---
import {Icon} from "astro-icon/components";

const pages = [
    {title: "Collections", link: "/collections"},
    {title: "Friends", link: "/friends"},
    {title: "About", link: "/about"},
]
---
<nav class="navbar w-full">
    <div class="flex items-center justify-between w-full">
        <div class="block md:ml-16">
            <a class="btn btn-ghost text-xl font-serif" href="/">停云馆</a>
        </div>
        <div class="hidden md:flex">
            {pages.map(page => (
                    <a class="btn btn-ghost text-md font-serif" href={page.link}>{page.title}</a>
            ))}
        </div>
        <div class="grid grid-cols-3">
            <div class="md:hidden dropdown dropdown-end">
                <button tabindex="0" role="button" class="btn btn-ghost">
                    <Icon name="fa-solid:bars" size={16}/>
                </button>
                <ul tabindex="0" class="dropdown-content menu shadow bg-base-100 rounded-box">
                    {
                        pages.map(page => (
                                <li><a href={page.link}>{page.title}</a></li>
                        ))
                    }
                </ul>
            </div>
            <div class="dropdown dropdown-end">
                <button tabindex="1" role="button" class="btn btn-ghost">
                    <Icon name="fa-regular:sun" size={20}/>
                </button>
                <ul tabindex="1" class="w-28 dropdown-content menu shadow bg-base-100 rounded-box">
                    <li><a id="light-theme" href="">浅色模式</a></li>
                    <li><a id="dark-theme" href="">深色模式</a></li>
                    <li><a id="system-theme" href="">跟随系统</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>