---
import Home from "./home.astro";
import Toc from "../components/toc.astro";
import { count } from "../utils/text";
const { frontmatter, headings, rawContent } = Astro.props;
---

<Home title={frontmatter.title}>
    <div class="hidden md:contents">
        {
            headings.length != 0 && (
                <div class="relative order-2 flex-grow ps-16 w-full max-w-md">
                    <div class="fixed top-0 pt-32 overflow-x-hidden overflow-y-auto">
                        <div class="flex flex-col pb-24">
                            <Toc links={headings} />
                        </div>
                    </div>
                </div>
            )
        }
    </div>

    <article id="slot" class="prose max-w-screen-md">
        <h1>{frontmatter.title}</h1>
        <div class="flex justify-between mb-10">
            <a href={`/categories/${frontmatter.category}`}>
                <div class="text-sm font-thin italic">
                    {frontmatter.category}
                </div>
            </a>
            <div class="text-sm font-thin" id="busuanzi_container_page_pv">
                本文总阅读量: <span id="busuanzi_value_page_pv"></span>
            </div>
            <div class="text-sm font-thin">
                总字数: {count(rawContent())}
            </div>
            <div class="text-sm font-thin">
                {new Date(frontmatter.pubDate).toLocaleDateString("zh-CN")}
            </div>
        </div>
        {
            frontmatter.cover && (
                <img
                    alt="cover"
                    class="rounded-lg shadow-lg mx-auto"
                    src={frontmatter.cover}
                />
            )
        }
        <slot />
        <div class="mx-auto mt-10 w-full">
            <script
                is:inline
                async
                src="https://giscus.app/client.js"
                data-repo="tsurumi-yizhou/blog"
                data-repoId="R_kgDOIR5z3g"
                data-category="Announcements"
                data-categoryId="DIC_kwDOIR5z3s4CftST"
                data-mapping="title"
                data-strict="1"
                data-reactions-enabled="1"
                data-emit-metadata="1"
                data-input-position="top"
                data-theme="preferred_color_scheme"
                data-lang="zh-CN"
                crossorigin="anonymous"></script>
        </div>
    </article>
</Home>

<script>
    import { currentTitle } from "../utils/state";

    const slot = document.getElementById("slot")!;
    const headings = [1, 2, 3, 4]
        .map((level) => Array.from(slot.getElementsByTagName(`h${level}`)))
        .reduce((a, b) => a.concat(b))
        .map((element) => {
            return {
                slug: (element as HTMLElement).innerText,
                top: (element as HTMLElement).offsetTop,
                bottom:
                    (element as HTMLElement).offsetHeight +
                    (element as HTMLElement).offsetTop,
            };
        });

    window.onload = () => {
        currentTitle.set(headings[0].slug);
    };

    window.addEventListener(
        "scroll",
        () => {
            const scrollTop =
                document.scrollingElement?.scrollTop || document.body.scrollTop;

            for (const boundary of headings) {
                if (boundary.top <= scrollTop && scrollTop <= boundary.bottom) {
                    currentTitle.set(boundary.slug);
                    return;
                }
            }
        },
        {
            passive: true,
        },
    );
</script>
