---
import HomeLayout from "./home.astro";
import Toc from "../components/content-table.astro";
import { Icon } from "astro-icon/components";

const { frontmatter, headings } = Astro.props;
---

<HomeLayout title={frontmatter.title}>
    <div class="flex justify-center">
        <div
            class="hidden relative order-2 flex-grow ps-32 max-w-32 w-full md:block"
        >
            {
                headings.length != 0 && (
                    <div>
                        <div class="fixed bottom-0 z-10 w-52 h-32" />
                        <div class="fixed top-0 pt-48 w-52 h-dvh overflow-x-hidden overflow-y-auto">
                            <div class="flex flex-col pb-32">
                                <div class="flex flex-col flex-grow">
                                    <Toc links={headings} />
                                    <div class="flex-grow" />
                                </div>
                            </div>
                        </div>
                    </div>
                )
            }
        </div>

        <article class="relative order-1 max-w-screen-md w-full">
            <div class="mx-auto">
                <div
                    class="h-64 overflow-hidden bg-cover bg-center rounded-md"
                    style={`background-image: url("${frontmatter.cover ?? "/img/about.jpg"}")`}
                >
                    <div class="flex items-center h-full bg-opacity-30">
                        <div class="max-w-xl px-5 md:px-10">
                            <h2
                                class="text-3xl font-serif text-white capitalize break-normal line-clamp-4"
                            >
                                {frontmatter.title}
                            </h2>
                            <p
                                class="inline-block mt-2 mr-5 text-sm md:text-sm text-slate-200"
                            >
                                <Icon
                                    class="inline-block"
                                    name="mdi:calendar-range"
                                />
                                <a href="/timeline">
                                {
                                    new Date(
                                        frontmatter.pubDate,
                                    ).toLocaleDateString("en-US", {
                                        year: "numeric",
                                        month: "long",
                                        day: "numeric",
                                        weekday: "long"
                                    })
                                }
                                </a>
                            </p>
                            <p
                                class="inline-block mt-2 mr-5 text-sm md:text-sm text-slate-200"
                            >
                                <Icon
                                    class="inline-block"
                                    name="mdi:typewriter"
                                />
                                {frontmatter.characters} words
                            </p>
                            <p
                                id="busuanzi_container_page_pv"
                                class="inline-block mt-2 mr-5 text-sm md:text-sm text-slate-200"
                            >
                                <Icon
                                    class="inline-block"
                                    name="mdi:eye-outline"
                                />
                                {frontmatter.minutesRead}
                            </p>
                            {
                                frontmatter.category && (
                                    <p class="inline-block mt-2 text-sm md:inline-block md:text-sm text-slate-200">
                                        <Icon class="inline-block" name="mdi:text-long" />
                                        <a href={`/categories/${frontmatter.category}`}>
                                            {frontmatter.category}
                                        </a>
                                    </p>
                                )
                            }
                            <br/>
                            {
                                frontmatter.description && (
                                    <p class="inline-block mt-2 text-sm md:inline-block md:text-sm text-slate-200">
                                        {frontmatter.description}
                                    </p>
                                )
                            }
                        </div>
                    </div>
                </div>
                <div id="slot"
                     class="mx-auto my-10 prose
                     prose-img:rounded-md prose-img:shadow-md prose-img:mb-0 prose-img:pb-0 prose-img:w-full
                     prose-video:rounded-md prose-video:shadow-md prose-video:mb-0 prose-video:pb-0 prose-video:w-full">
                    <slot />
                </div>
                <section class="mx-auto w-full">
                    <script
                        src="https://giscus.app/client.js"
                        data-repo="tsurumi-yizhou/blog"
                        data-repo-id="R_kgDONYuL0w"
                        data-category="Announcements"
                        data-category-id="DIC_kwDONYuL084Ck86R"
                        data-mapping="title"
                        data-strict="0"
                        data-reactions-enabled="1"
                        data-emit-metadata="0"
                        data-input-position="bottom"
                        data-theme="preferred_color_scheme"
                        data-lang="zh-CN"
                        crossorigin="anonymous"
                        async>
                    </script>
                </section>
            </div>
        </article>

        <script>
            import { Fancybox } from "@fancyapps/ui";
            import "@fancyapps/ui/dist/fancybox/fancybox.css";

            Fancybox.bind('[data-fancybox]', {});
        </script>

        <script>
            const slot = document.getElementById("slot")!;
            const headings = [1, 2, 3, 4]
                .map((level) =>
                    Array.from(slot.getElementsByTagName(`h${level}`)),
                )
                .reduce((a, b) => a.concat(b))
                .map((element) => {
                    return {
                        slug: (element as HTMLElement).innerText,
                        top: (element as HTMLElement).offsetTop,
                        bottom:
                            (element as HTMLElement).offsetHeight +
                            (element as HTMLElement).offsetTop,
                    };
                });

            window.onload = () => {
                const event = new CustomEvent("title", {
                    detail: headings[0].slug,
                });
                window.dispatchEvent(event);
            };

            window.addEventListener(
                "scroll",
                () => {
                    const scrollTop =
                        document.scrollingElement?.scrollTop ||
                        document.body.scrollTop;

                    for (const boundary of headings) {
                        if (
                            boundary.top <= scrollTop &&
                            scrollTop <= boundary.bottom
                        ) {
                            const event = new CustomEvent("title", {
                                detail: boundary.slug,
                            });
                            window.dispatchEvent(event);
                            return;
                        }
                    }
                },
                {
                    passive: true,
                },
            );
        </script>
    </div>
</HomeLayout>
